.ticket__component {
  padding: 72px 195px 96px 195px;
}

.ticket__wrap {
  background-color: #f5f6f8;
  padding: 56px 70px 48px 70px;
  border-radius: 8px;
}

.ticket__wrap h1 {
  font-size: 24px;
}

.ticket__item {
  margin: 48px 0px;
  background-color: white;
}
