.form__movie--tite {
  font-size: 24px;
}

.form__movie {
  background-color: white;
}

.manage__movie--img {
  padding: 36px;
  border: 2px solid #dedede;
  border-radius: 16px;
  display: inline-block;
}

.textarea__component {
  margin: 25px 0px;
}

.textarea__input {
  height: 64px;
  outline: none;
  padding: 22px 24px;
  font-size: 16px;
  background: #fcfdfe !important;
}

label {
  margin-bottom: 12px;
}
