/* PROFILE PAGE */
.profile__page {
  margin-top: 56px !important;
  margin-bottom: 20px;
}

/* profile form */

.profile__form--detail {
  margin-top: 56px;
  margin-bottom: 50px;
}

.profile__form--detail--header {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dedede;
}

.btn__profile--update {
  width: 360px;
  height: 56px;
  margin-top: 50px;
}
